*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(13, 9, 28);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.widget-item{
    border-radius: 6px;
    margin: 0.75vw;
    display: inline-block;
    position: relative;
    padding: 20px;
}

.widget-container{
    width: 90%; 
    align-items: center;
    justify-content: center;
}

.widget-row{
    display: flex;
    justify-content: center;
}

.small-rectangle{
    width: 25%;
}
.medium-square{
    height: 350px;
    width: 33%;
}
.large-rectangle{
    width: 100%;
    height: 38vh;
}

.img-small{
    width: 25%;
    aspect-ratio: 1 / 1;
    margin: 7px;
    display: inline-block;
}
.img-large{
    width: 25%;
    background-color: orange;

    border-radius: 42px;
    padding: 6%;
    aspect-ratio: 1 / 1;
}
.bubble-orange{
    background: rgb(247,66,38);
    background: -moz-linear-gradient(56deg, rgba(247,66,38,1) 0%, rgba(247,129,38,1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(247,66,38,1) 0%, rgba(247,129,38,1) 100%);
    background: linear-gradient(56deg, rgba(247,66,38,1) 0%, rgba(247,129,38,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f74226",endColorstr="#f78126",GradientType=1);
}
.bubble-red{
    background: rgb(113,5,5);
    background: -moz-linear-gradient(56deg, rgba(113,5,5,1) 0%, rgba(222,66,66,1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(113,5,5,1) 0%, rgba(222,66,66,1) 100%);
    background: linear-gradient(56deg, rgba(113,5,5,1) 0%, rgba(222,66,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#710505",endColorstr="#de4242",GradientType=1);
}
.bubble-blue{
    background: rgb(48,38,247);
    background: -moz-linear-gradient(56deg, rgba(48,38,247,1) 0%, rgba(38,176,247,1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(48,38,247,1) 0%, rgba(38,176,247,1) 100%);
    background: linear-gradient(56deg, rgba(48,38,247,1) 0%, rgba(38,176,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3026f7",endColorstr="#26b0f7",GradientType=1);
}
.bubble-purple{
    background: rgb(79,0,152);
    background: -moz-linear-gradient(56deg, rgba(79,0,152,1) 0%, rgba(189,68,236,1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(79,0,152,1) 0%, rgba(189,68,236,1) 100%);
    background: linear-gradient(56deg, rgba(79,0,152,1) 0%, rgba(189,68,236,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f0098",endColorstr="#bd44ec",GradientType=1);
}

.widget-item h3, .widget-item h4{
    margin: 0;
    display: block;
    position: relative;
    float: right;
    clear:both;
}
.widget-side-info{
    display: block;
    position: relative;
    float: right;
    margin: 0;
}
.widget-bottom-tag{
    display: flex;
    align-items: center;
}

hr{
    display: block;
    margin-top: 15px;
    border-color: rgb(92, 89, 109);
}

.widget-item h5{}

h4{
    font-size: 2em;
}

img{

}
h5{
    letter-spacing: .05rem;
    display: inline-block;
    
}

nav{
    /*background-color: red;*/
    width: 100%;
    padding-bottom: 3vh;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 8px;
    flex-direction: column;
}
nav img{
    margin-top: 25px;
}
nav h1{
    font-size: 2em;
}
nav h2{
    font-size: 1em;
}

.sidebar{
    height: 100vh;
    width: 25%;
    max-width: 300px;
}

#brand-icon{
    height: 150px;
    width: 150px;
}
.sidebar{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: left;
}
#link-container{
    margin: 0;
    display: flex;
    flex-direction:column;
    width: 100%;
}
.link-item{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgb(33, 31, 44);
    color: rgb(151, 151, 151);
    font-weight: 600;
}
.link-item svg{
    height: 25px;
    width: 25px;
    padding: 6px;
    margin-right: 6px;
    padding-left: 20px;
}
button{
    border: none;
}
button:hover{
    background-color: rgb(56, 53, 75);
    cursor: pointer;
}

.time-info{
    width: 100%;
    color: white;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.chart rect { fill: steelblue }
.axis path,
.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
    color: white;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    color: white
}
.chart3{
    font: 15px sans-serif;
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 255, 0), rgba(0, 38, 255, 0.50)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, rgba(0, 0, 255, 0), rgba(0, 38, 255, 0.50)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, rgba(0, 0, 255, 0), rgba(0, 38, 255, 0.50)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(0, 0, 255, 0), rgba(0, 38, 255, 0.50)); /* Standard syntax */
    text-align: right;
    padding: 20px;
    margin: 8px;
    color: white;
    border:solid rgb(30, 107, 195) 2px;
    border-bottom: none;
}
.chart{
    display: flex;
    flex-direction: row ;
}
.chart div{
    display: inline-block;
    align-self: flex-end;
}

h3{
    font-size: 1.5vw;
}
h4{
    font-size: 1.5vw;
}
p{
    font-size: 1vw;
}

.top-item-container img{
    height: 70px;
    width: 70px;
}
.top-item-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.193);
    border-radius: 20px;
    margin: 8px;
    margin-top: 15px;
}
.top-item-container h3{
    margin-left: 10px;
}
.top-item-container h4{
    margin: 10px;
    color: aqua;
    margin-left: auto;
    order: 2;
    padding: 10px;
}
.top-item-container h2{
    margin: 8px;
    margin-left: 14px;
    background: -webkit-linear-gradient(rgb(254, 235, 55), rgb(219, 173, 22));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.branding{
    /*background-color: red;*/
    width: 100%;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 8px;
    flex-direction: column;
}
h1{
    color: white;
}

.site-container{
    display: flex;
    width: 100vw;
    height: 100vh;
}





.link-support{
    display: flex;
    align-items: center;
    color: rgb(151, 151, 151);
    font-weight: 600;
}
.link-support a{
    color: rgb(151, 151, 151);
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
}

.link-support svg{
    height: 55px;
    width: 55px;
    padding: 6px;
    margin-right: 6px;
    padding-left: 20px;
}
.link-support{
    border: none;
    text-decoration: none;
}
.active{
    background-color: rgb(49, 80, 123);
    color: white;
}
@media only screen and (max-width: 1500px) {
    hr{
        display: none;
    }
}
@media only screen and (max-width: 750px) {
    .link-support .navButton{
        display: none;
    }
    .sidebar{
        width: 65px;
    }
    .branding, .timestamp{
        display: none;
    }
    .time-info{
        display: none;
    }
    hr{
        display: none;
    }
    .widget-row{
        flex-direction: column;
    }
    .small-rectangle{
        width: 95%;
        h3,h4{
            font-size: 2em;
        }
    }
    .medium-square{
        width: 95%;
    }
    .large-rectangle{
        width: 95%;
    }
}

*, *:after, *:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  *, *:after, *:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
.products{
    width: 100%;
}

table {
    width: 98%;
    margin: 1%;
    font-family: Arial,sans-serif;
    font-size: 16px;
    border-collapse: separate;
    border-spacing: 0 0px;

    thead {
        background-color: rgb(72, 170, 72);
        color: #fff;
        height: 40px;
    }

    td {
        height: 50px;
        vertical-align: middle;
        text-align: center;
        position: relative;
        &:after {
        content: '';
        width: 1px;
        position: absolute;
        right: 0;
        top: 8px;
        bottom: 8px;
        background-color: #dbdbdb;
        }
    }

    tbody {
        td {
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }
        background-color: #fafafa;
    }

    tbody tr:nth-child(odd){
        background-color: #eaeaea;
    }

}

#date-time{
    color: white;
    font-size: 1.15em;
}
.timestamp{
    margin-bottom: 15px;
}

.theme-dark{
    background-color: rgb(13, 9, 28);
    .widget-item{
        background: rgb(32,30,45);
        background: -moz-linear-gradient(56deg, rgba(32,30,45,1) 0%, rgba(42,39,62,1) 100%);
        background: -webkit-linear-gradient(56deg, rgba(32,30,45,1) 0%, rgba(42,39,62,1) 100%);
        background: linear-gradient(56deg, rgba(32,30,45,1) 0%, rgba(42,39,62,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#201e2d",endColorstr="#2a273e",GradientType=1);
        color: rgb(234, 234, 234);
    }
    .text-green{
        color:lime;
    }
    .text-blue{
        color:rgb(85, 235, 255);
    }
    .sidebar{
        background-color: rgb(33, 31, 44);
    }
    .link-support{
        background-color: rgb(33, 31, 44);
    }
    .link-support:hover{
        background-color: rgb(50, 48, 69);
        cursor: pointer;
    }

    .active{
        background-color: rgb(49, 80, 123);
        color: white;
    }
    .active p{
        color: white;
    }
    .active:hover{
        background-color: rgb(67, 97, 138);
        color: white;
    }
    table {
        td {
            color: white;
            &:after {
                background-color: rgb(33, 31, 44);
            }
        }
        thead {
            background-color: rgb(69, 135, 69);
        }
    
        tbody {
            td {
                border-top: 1px solid rgb(57, 54, 76);
                border-bottom: 1px solid rgb(57, 54, 76);
            }
            background-color: rgb(57, 54, 76);
        }
    
        tbody tr:nth-child(odd){
            background-color: rgb(42, 39, 55);
        }
    }
}

.theme-light{
    background-color: rgb(233, 233, 233);
    hr{
        border-color: rgb(230, 230, 230);
    }
    h3{
        color: rgb(58, 58, 58);
    }
    .navButton{
        color: black;
    }
    .widget-item{
        background-color:#fff;
        color: rgb(34, 34, 34);
    }
    .text-green{
        color:rgb(0, 151, 0);
    }
    .text-blue{
        color:rgb(22, 181, 238);
    }
    .sidebar{
        background-color: #fff;
    }
    .link-support{
        background-color: #fff;
        color: black;
    }
    .link-support:hover{
        background-color: rgb(228, 228, 228);
        cursor: pointer;
    }
    .branding{
        color: black;
    }
    h1{
        color: black;
    }
    #date-time{
        color: black;  
    }

    .active a{
        background-color: rgb(59, 123, 212);
        color: white;
    }
    .active p{
        color: white;
    }
    .active a:hover{
        background-color: rgb(49, 110, 195);
        color: white;
    }
    .top-item-container{
        background-color: rgb(220, 220, 220);
    }
    .top-item-container h2 {
        color: #ff2200;
    }
    .sidebar svg{
        fill: black;
    }

    .settings{
        background-color: #ffffff;
        color: black;
    }
    .top-item-container h4{
        color:rgb(13, 120, 196);
    }
    .top-item-container h2{
        background: rgb(255, 255, 0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.navButton{
    font-size: 1em;
}

.settings{
    background-color: rgb(33, 31, 44);
    margin: 1%;
    width: 98%;
    border-radius: 30px;
    color: white;
}

.medium-square p{
    margin-bottom: 25px;
}