*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(13, 9, 28);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.widget-item{
    background: rgb(32,30,45);
    background: -moz-linear-gradient(56deg, rgba(32,30,45,1) 0%, rgba(42,39,62,1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(32,30,45,1) 0%, rgba(42,39,62,1) 100%);
    background: linear-gradient(56deg, rgba(32,30,45,1) 0%, rgba(42,39,62,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#201e2d",endColorstr="#2a273e",GradientType=1);
    color: rgb(234, 234, 234);
    border-radius: 6px;
    margin: 0.75vw;
    display: inline-block;
    position: relative;
    padding: 20px;
}

.widget-container{
    width: 82vw; 
    align-items: center;
    justify-content: center;
    margin-left: 260px;
    margin-right: 4vw;
}

.widget-row{
    display: flex;
    justify-content: center;
}

.small-rectangle{

    width: 25vw;
}
.medium-square{
    aspect-ratio: 1.5 / 1;
    width: 33vw;
}
.large-rectangle{
    width: 100%;
    aspect-ratio: 6 / 1;
}

.img-small{
    width: 8%;
    aspect-ratio: 1 / 1;
    margin: 7px;
    display: inline-block;
}
.img-large{
    width: 16%;
    background-color: orange;

    border-radius: 42px;
    padding: 6%;
    aspect-ratio: 1 / 1;
}
.bubble-orange{
    background: rgb(247,66,38);
    background: -moz-linear-gradient(56deg, rgba(247,66,38,1) 0%, rgba(247,129,38,1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(247,66,38,1) 0%, rgba(247,129,38,1) 100%);
    background: linear-gradient(56deg, rgba(247,66,38,1) 0%, rgba(247,129,38,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f74226",endColorstr="#f78126",GradientType=1);
}
.bubble-red{
    background: rgb(113,5,5);
    background: -moz-linear-gradient(56deg, rgba(113,5,5,1) 0%, rgba(222,66,66,1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(113,5,5,1) 0%, rgba(222,66,66,1) 100%);
    background: linear-gradient(56deg, rgba(113,5,5,1) 0%, rgba(222,66,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#710505",endColorstr="#de4242",GradientType=1);
}
.bubble-blue{
    background: rgb(48,38,247);
    background: -moz-linear-gradient(56deg, rgba(48,38,247,1) 0%, rgba(38,176,247,1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(48,38,247,1) 0%, rgba(38,176,247,1) 100%);
    background: linear-gradient(56deg, rgba(48,38,247,1) 0%, rgba(38,176,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3026f7",endColorstr="#26b0f7",GradientType=1);
}
.bubble-purple{
    background: rgb(79,0,152);
    background: -moz-linear-gradient(56deg, rgba(79,0,152,1) 0%, rgba(189,68,236,1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(79,0,152,1) 0%, rgba(189,68,236,1) 100%);
    background: linear-gradient(56deg, rgba(79,0,152,1) 0%, rgba(189,68,236,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f0098",endColorstr="#bd44ec",GradientType=1);
}

.widget-item h3, .widget-item h4{
    margin: 0;
    display: block;
    position: relative;
    float: right;
    clear:both;
}
.widget-side-info{
    display: block;
    position: relative;
    float: right;
    margin: 0;
}
.widget-bottom-tag{
    display: flex;
    align-items: center;
}

hr{
    display: block;
    margin-top: 15px;
    border-color: rgb(92, 89, 109);
}

.widget-item h5{}

h4{
    font-size: 2em;
}

img{

}
.text-green{
    color:lime;
}
.text-blue{
    color:rgb(85, 235, 255);
}
h5{
    letter-spacing: .05rem;
    display: inline-block;
    
}
.sidebar{

}

nav{
    /*background-color: red;*/
    width: 100%;
    padding-bottom: 3vh;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 8px;
    flex-direction: column;
}
nav img{
    margin-top: 25px;
}
nav h1{
    font-size: 2em;
}
nav h2{
    font-size: 1em;
}

.sidebar{
    background-color: rgb(33, 31, 44);
    height: 100vh;
    width: 250px;
    position: absolute;
}

#brand-icon{
    margin-left: 8px;
    height: 45px;
    width: 45px;
}
.sidebar{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: left;
}
#link-container{
    margin: 0;
    display: flex;
    flex-direction:column;
    width: 100%;
}
.link-item{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgb(33, 31, 44);
    color: rgb(151, 151, 151);
    font-weight: 600;
}
.link-item svg{
    height: 25px;
    width: 25px;
    padding: 6px;
    margin-right: 6px;
    padding-left: 20px;
}
button{
    border: none;
}
button:hover{
    background-color: rgb(56, 53, 75);
    cursor: pointer;
}
#current-tab{
    background-color: rgb(49, 80, 123);
    color: white;
}

.time-info{
    width: 100%;
    color: white;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.chart rect { fill: steelblue }
.axis path,
.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
    color: white;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    color: white
}
.chart3{
    font: 15px sans-serif;
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 255, 0), rgba(0, 38, 255, 0.50)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, rgba(0, 0, 255, 0), rgba(0, 38, 255, 0.50)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, rgba(0, 0, 255, 0), rgba(0, 38, 255, 0.50)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(0, 0, 255, 0), rgba(0, 38, 255, 0.50)); /* Standard syntax */
    text-align: right;
    padding: 20px;
    margin: 8px;
    color: white;
    border:solid rgb(30, 107, 195) 2px;
    border-bottom: none;
}
.chart{
    display: flex;
    flex-direction: row ;
}
.chart div{
    display: inline-block;
    align-self: flex-end;
}

h3{
    font-size: 1.5vw;
}
h4{
    font-size: 1.5vw;
}
p{
    font-size: 1vw;
}

.top-item-container img{
    height: 70px;
    width: 70px;
}
.top-item-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.193);
    border-radius: 20px;
    margin: 8px;
    margin-top: 15px;
}
.top-item-container h3{
    margin-left: 10px;
}
.top-item-container h4{
    margin: 10px;
    color: aqua;
    margin-left: auto;
    order: 2;
    padding: 10px;
}
.top-item-container h2{
    margin: 8px;
    margin-left: 14px;
    color:#dfdd86;
}

.branding{
    /*background-color: red;*/
    width: 100%;
    padding-bottom: 3vh;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 8px;
    flex-direction: column;
}
h1{
    color: white;
}