nav{
    /*background-color: red;*/
    width: 100%;
    padding-bottom: 3vh;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 8px;
    flex-direction: column;
}
nav img{
    margin-top: 25px;
}
nav h1{
    font-size: 2em;
}
nav h2{
    font-size: 1em;
}

.sidebar{
    height: 100vh;
    width: 25%;
    max-width: 300px;
}

#brand-icon{
    height: 150px;
    width: 150px;
}
.sidebar{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: left;
}
#link-container{
    margin: 0;
    display: flex;
    flex-direction:column;
    width: 100%;
}
.link-item{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgb(33, 31, 44);
    color: rgb(151, 151, 151);
    font-weight: 600;
}
.link-item svg{
    height: 25px;
    width: 25px;
    padding: 6px;
    margin-right: 6px;
    padding-left: 20px;
}
button{
    border: none;
}
button:hover{
    background-color: rgb(56, 53, 75);
    cursor: pointer;
}

.time-info{
    width: 100%;
    color: white;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.navButton{
    font-size: 1em;
}

#date-time{
    color: white;
    font-size: 1.15em;
}
.timestamp{
    margin-bottom: 15px;
}

.link-support{
    display: flex;
    align-items: center;
    color: rgb(151, 151, 151);
    font-weight: 600;
}
.link-support a{
    color: rgb(151, 151, 151);
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
}

.link-support svg{
    height: 55px;
    width: 55px;
    padding: 6px;
    margin-right: 6px;
    padding-left: 20px;
}
.link-support{
    border: none;
    text-decoration: none;
}
.active{
    background-color: rgb(49, 80, 123);
    color: white;
}

.branding{
    /*background-color: red;*/
    width: 100%;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 8px;
    flex-direction: column;
}